<div class="container-fluid dashboard-wrapper" [class.active]="active">
  <!-- side bar wrapper  -->
  <div id="sidebar-wrapper">
    <a id="toggle-menu" [routerLink]="" (click)="active=!active">
      <span>Minha Conta</span><span class="fa fa-bars toggle-icon"></span>
    </a>

    <!--   side-menu   -->
    <ul id="side-menu">
      <li>
        <a [routerLink]="" (click)="menuSelect='0'">
          Perfil
          <span class="sub-icon"><i class="fa fa-user-cog"></i></span>
        </a>
      </li>
      <li>
        <a [routerLink]="" (click)="menuSelect='1'">
          Alugados
          <span class="sub-icon"><i class="fas fa-shopping-bag"></i></span>
        </a>
      <li>
        <a [routerLink]="" (click)="loadVitrine()">
          Vitrine
          <span class="sub-icon"><i class="fas fa-store"></i></span>
        </a>
      </li>
      <li>
        <a [routerLink]="" (click)="menuSelect='3'">
          Top 10
          <span class="sub-icon">      <i class="fas fa-award"></i></span>
        </a>
      </li>

    </ul>
    <!-- /. side-menu  -->

  </div>


  <div class="page-content-wrapper">
    <div class="container-fluid main-content">
      <div *ngIf="menuSelect=='2'">
        <vitrine></vitrine>
      </div>
    </div>

  </div>


</div>
