<ng-container *ngIf="sucRequi">
  <p-table [columns]="cols" [value]="jogos" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      Jogos Cadastrados
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Detalhes do Jogo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [contentStyle]="{'max-height':'600px','max-width':'600px'}" [style]="{'width':'600px'}">
    <cadastroJogo [jogo]="jogo" (retornoJogo)="reciverFeedback($event)"></cadastroJogo>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</ng-container>
<p-progressSpinner *ngIf="!sucRequi" class="d-flex justify-content-center" [style]="{width: '250px', height: '250px'}"></p-progressSpinner>

