 <!-- ================ start banner area ================= -->
<!--<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Relatorios</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Relatorios</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>-->
<!-- ================ end banner area ================= -->
<!-- ================ category section start ================= -->
<div class="blog-banner">
  <div class="text-center">
    <h1>Relatorios</h1>
  </div>
</div>
  <section class="blog_categorie_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
          <div class="categories_post">
            <img class="card-img rounded-0" src="assets/img/images.png" alt="post">
            <div class="categories_details">
              <div class="categories_text">
                <a href="single-blog.html">
                  <h5>Total de Jogos na Vitrine</h5>
                </a>
                <div class="border_line"></div>
                <h5>{{vitrineJogo.length}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
          <div class="categories_post">
            <img class="card-img rounded-0" src="assets/img/user.png" alt="post">
            <div class="categories_details">
              <div class="categories_text">
                <a href="single-blog.html">
                  <h5>Total de Usuários</h5>
                </a>
                <div class="border_line"></div>
                <h5>{{pessoas.length}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
          <div class="categories_post">
            <img class="card-img rounded-0" src="assets/img/chamado.png" alt="post">
            <div class="categories_details">
              <div class="categories_text">
                <a href="single-blog.html">
                  <h5>Total de Chamados</h5>
                </a>
                <div class="border_line"></div>
                <h5>0</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
