        <!--LISTA DE JOGOS-->
        <div class="row">
          <p-progressSpinner *ngIf="!sucRequi" class="d-flex justify-content-center" [style]="{width: '250px', height: '250px'}"></p-progressSpinner>
          <ng-container *ngIf="sucRequi">
            <div class="col-3">
              <div class="sidebar-categories">
                <div class="head">Plataforma</div>
                <ul class="main-categories">
                  <li class="common-filter">
                    <ul *ngFor="let plataforma of plataformas; let i= index">
                      <li class="filter-list"><input class="pixel-checkbox" type="checkbox" (change)="getPlataforma(plataforma.nome)"> {{plataforma.nome}}</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="sidebar-categories">
                <div class="head">Genero</div>
                <ul class="main-categories">
                  <li class="common-filter">
                    <ul *ngFor="let genero of generos; let i= index">
                      <li class="filter-list"><input class="pixel-checkbox" type="checkbox" (change)="getGenero(genero.nome)"> {{genero.nome}}</li>
                    </ul>
                </ul>
              </div>
            </div>


            <div class="col-9">
              <div class="filter-bar d-flex flex-wrap align-items-center">

                <div class="sorting  mr-auto">
                  <select (change)="ordenaJogos($event.target.value)">
                    <option value="0">Ordenação Padrão</option>
                    <option value="1">Ordem Alfabetica</option>
                    <option value="2">Mais Caro</option>
                    <option value="3">Maior Data Devolução</option>
                  </select>
                </div>
                <div class="sorting">
                  <button class="btn btn-danger" (click)="limpar()">Limpar Filtros <i class="fas fa-trash-alt"></i></button>
                </div>
                <div>
                  <div class="input-group filter-bar-search">
                    <input type="text" placeholder="Pesquisar" [(ngModel)]="filtros.jogo" (keyup.enter)="aplicaFiltros()">
                    <div class="input-group-append">
                      <button type="button" (click)="aplicaFiltros()"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>

              </div>
              <p-carousel [value]="pessoaJogo" numVisible="4" circular="circular" autoplayInterval="9000" easing="easeOutStrong" [style]="{marginRight: '10px'}">
                <ng-template let-item pTemplate="item">
                  <p-panel [header]="item.pessoajogo.jogo.nome" [style]="{'text-align':'center', 'background-color':'#384aeb'}">
                    <div class="card text-center card-product">
                      <div class="card-product__img">
                        <img class="card-img" src="{{item.pessoajogo.jogo.urlimagem}}" alt="" height="293" width="255">
                        <ul class="card-product__imgOverlay">
                          <li class="lii"> <button (click)="infoPessoaJogo=true;selecionaJogo(item)"><i class="fas fa-info-circle"></i></button></li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <h4 class="card-product__title"><a href="#">{{item.pessoajogo.jogo.nome}}</a></h4>
                        <p class="card-product__price">{{entregue(item.datadevolucao)}}</p>
                      </div>
                    </div>
                  </p-panel>
                </ng-template>
              </p-carousel>
              <!--<div *ngIf="pessoaJogo.jogo?.length<1">
                <h1 class="text-center"> Você não possui jogos cadastrado</h1>
                <h2 class="text-center"> Clique <a [routerLink]='["../../catalogo"]'>AQUI</a> para <a [routerLink]='["../../catalogo"]'>CADASTRAR</a></h2>
              </div>-->
            </div>
          </ng-container>
        </div>

        <p-dialog [(visible)]="infoPessoaJogo" [baseZIndex]='1150' [width]="390" >
          <p-header>
            <i class="fas fa-money-bill-wave"></i> Informações da Locação
          </p-header>
          <div class="row">
            <div class="col" style=" height:100px; width:90px">
              <img class="img-fluid" src="{{modalJogo?.pessoajogo.jogo.urlimagem}}" height="100" width="90" alt="">
            </div>
            <div class="col">
              <span class="row" style="font-family: Roboto,sans-serif;font-size: 14px;font-weight: 700;color: #384aeb;margin-bottom: 10px;">
                Nome: {{modalJogo?.pessoajogo.jogo.nome}}
              </span>
              <span class="row" style="font-family: Roboto,sans-serif;font-size: 14px;font-weight: 700;color: #384aeb;margin-bottom: 10px;">
                Data Locação: {{modalJogo?.datalocacao | date: 'dd/MM/yyyy'}}
              </span>
              <span class="row" style="font-family: Roboto,sans-serif;font-size: 14px;font-weight: 700;color: #384aeb;margin-bottom: 10px;">
                Data Devolução: {{modalJogo?.datadevolucao | date: 'dd/MM/yyyy'}}
              </span>
              <span class="row" style="font-family: Roboto,sans-serif;font-size: 14px;font-weight: 700;color: #384aeb;margin-bottom: 10px;">
                Valor por dia: {{modalJogo?.preco | currency: 'BRL'}}
              </span>
            </div>
          </div>
          <p-footer>
            <div class="d-flex justify-content-center">

              <a class="button danger-btn" [routerLink]="" (click)="infoPessoaJogo=false"><i class="fas fa-window-close"></i> Fechar</a>
            </div>
          </p-footer>
        </p-dialog>
