<nav class="navbar  fixed-top navbar-dark bg-dark row">
  <div  class="col-md-auto">
    <a class="navbar-brand" href="#">
      <img src="https://www.maxpixel.net/static/photo/1x/Controller-Gamepad-Icon-Computer-Game-Video-Games-1784573.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Locadora Pessoal
    </a>
  </div>
  <div id="menuCenter"  class="col-6 ">
    <ul class="d-flex justify-content-center">

      <li><a [routerLink]="['/administrativo']" style="color:white;padding-right: 10px;padding-left: 10px;">Administrativo</a></li>
      <li><a [routerLink]="['/catalogo']" style="color:white;padding-right: 10px;padding-left: 10px;">Catalogo</a></li>
    </ul>
  </div>
  <!--MENU CENTRAL-->
  <div id="menu"  class="col-md-auto">
    <ul>
      <li><a [routerLink]="['/home']" style="color:white;padding-right: 10px;padding-left: 10px;"><img src="https://scontent.fvix1-1.fna.fbcdn.net/v/t1.0-9/16730211_1224444794339619_1645630044600468470_n.jpg?_nc_cat=109&_nc_oc=AQk8f8dwecJmL2YkiJOrdNBu06-MovIlOPrPGq0quH--OSTKN0EkE823eoR9s52zQ60&_nc_ht=scontent.fvix1-1.fna&oh=e444c65a8b53860605309e4b0479b269&oe=5D53E278" alt="..." width="35px" height="35px" class="rounded-circle"> Carlos Guilherme</a></li>
      <li><a [routerLink]="['/login']" style="color:white;padding-right: 10px;padding-left: 10px;">Sair</a></li>
    </ul>
  </div>
</nav>
<div style="margin-top: 56px">
  <router-outlet></router-outlet>
</div>
