<div class="container" style="border-radius: 15px;background-color:#f1f1f1;" *ngIf="suc">
  <h2 *ngIf="edit" class="text-center perfilT fontGamer">Editar Perfil</h2>
  <h2 *ngIf="!edit" class="text-center perfilT fontGamer">Ola {{pessoa.nome}}</h2>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img [src]="pessoa.urlimagem" height="150px" width="150px" class="rounded-circle" alt="avatar">
        <h6></h6>
        <ng-container *ngIf="edit">
          <label> Altere sua foto através de um novo link</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-camera"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Url" aria-label="url" aria-describedby="basic-addon1" [(ngModel)]="pessoa.urlimagem">
          </div>
        </ng-container>
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <h3>Informações Pessoais <a [routerLink]="" (click)="edit = !edit"><i class="fas fa-edit"></i></a></h3>

      <div class="form-horizontal" role="form" *ngIf="!edit">
        <div class="container" style="background-color:cornflowerblue; border-radius: 15px">
          <div style="margin-bottom: 10px;">
            <div class=" form-group">
              <label class="control-label">Nome de Usuário: {{pessoaOri.nomeusuario}}</label>
            </div>
            <div class="form-group">
              <label class="control-label">Nome Completo: {{pessoaOri.nome}}</label>
            </div>
            <div class="form-group">
              <label class="control-label">Email: {{pessoaOri.email}}</label>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="control-label">Data de Nascimento: {{pessoaOri.datanascimento | date: 'dd/MM/yyyy'}}</label>
              </div>
              <div class="col">
                <label class="control-label">
                  Sexo: <span> {{(pessoaOri.sexo===0 ? 'Masculino': 'Feminino' )}}</span>
                </label>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <div>
                  <label class="control-label">CEP: {{pessoaOri.cep.numero}}</label>
                </div>
              </div>
              <div class="col">
                <label class="control-label">Estado: {{pessoaOri.cep.bairro.municipio.estado.nome}}</label>
              </div>
            </div>
            <div class="row form-group">
              <div class="col">
                <label class="control-label">Cidade: {{pessoaOri.cep.bairro.municipio.nome}}</label>
              </div>
              <div class="col">
                <label class="control-label">Bairro: {{pessoaOri.cep.bairro.nome}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>




      <div class="form-horizontal" role="form" *ngIf="edit">
        <div class="container" style="background-color:cornflowerblue; border-radius: 15px">
          <div style="margin-bottom: 10px;">
            <div class=" form-group">
              <label class="control-label">Nome de Usuário</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="pessoa.nomeusuario">
              </div>
            </div>

            <div class=" form-group">
              <label class="control-label">Senha</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" pPassword class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1" [(ngModel)]="pessoa.senha">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Nome Completo</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-tie"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nome Completo" aria-label="nome" aria-describedby="basic-addon1" [(ngModel)]="pessoa.nome">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Email</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1" [(ngModel)]="pessoa.email">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="control-label">Data de Nascimento</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
                  </div>
                  <p-calendar [(ngModel)]="pessoa.datanascimento" dateFormat="dd/mm/yy"></p-calendar>
                </div>
              </div>


              <div class="col">
                <label class="control-label">Sexo</label>
                <div class="input-group mb-3">
                  <p-selectButton [options]="[0, 1]" [(ngModel)]="pessoa.sexo" optionLabel="name">
                    <ng-template let-item>
                      <button class="btn btn-outline-dark">
                        <span style="font-size: 1rem;">
                          <i class="{{(item.value===0 ? 'fas fa-mars': 'fas fa-venus' )}}"></i>
                        </span>
                        <span> {{(item.value===0 ? 'Masculino': 'Feminino' )}}</span>
                      </button>
                    </ng-template>
                  </p-selectButton>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="control-label">CEP</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" (focusout)="pegaCep()" placeholder="CEP" aria-label="CEP" aria-describedby="basic-addon1" [(ngModel)]="pessoa.cep.numero">
                  </div>
                </div>
              </div>


              <div class="col">
                <label class="control-label">Estado</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fab fa-usps"></i></span>
                  </div>
                  <p-autoComplete [readonly]="true" [(ngModel)]="pessoa.cep.bairro.municipio.estado.nome" [suggestions]="listestado" (completeMethod)="searchEstado($event)"
                                  [dropdown]="true"></p-autoComplete>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="control-label">Cidade</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-city"></i></span>
                  </div>
                  <p-autoComplete [readonly]="true" [(ngModel)]="pessoa.cep.bairro.municipio.nome" [suggestions]="listmunicipio" (completeMethod)="searchMuni($event)"
                                  [dropdown]="true"></p-autoComplete>
                </div>
              </div>



              <div class="col">
                <label class="control-label">Bairro</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-home"></i></span>
                  </div>
                  <p-autoComplete [(ngModel)]="pessoa.cep.bairro.nome" [suggestions]="listbairro" (completeMethod)="searchBairro($event)"
                                  [dropdown]="true"></p-autoComplete>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg btn-block" (click)="envia()" style="margin-bottom: 10px;">Aceitar</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="edit=!edit; pessoa=pessoaOri">Cancelar</button>
            </div>
          </div>
          </div>

      </div>



    </div>
  </div>
</div>
