@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.jumbotron-flat {
  background-color: solid #4DB8FFF;
  height: 100%;
  border: 1px solid #4DB8FF;
  background: white;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.paymentAmt {
  font-size: 80px;
}

.centered {
  text-align: center;
}

.title {
  padding-top: 15px;
}

.perfilT {
  color:#384aeb;
  margin-bottom: 16px;
}

.control-label{
  color:white;
}

@font-face {
  font-family: "game";
  src: url(/assets/Fipps-Regular.otf)
}

.fontGamer {
  font-family: game;
  margin-bottom: 25px;
}
