<nav class="navbar navbar-expand-lg navbar-dark bg-primary texto" >
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon imagem"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <a class="navbar-brand" href="#">
      <img src="https://www.maxpixel.net/static/photo/1x/Controller-Gamepad-Icon-Computer-Game-Video-Games-1784573.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
      Locadora Pessoal
    </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="admin"><a class="nav-link" [routerLink]="['/administrativo']"
          style="color:white;">Administrativo</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/catalogo']" style="color:white;">Catalogo</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/alugar']" style="color:white;">Alugar</a></li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="logado">
      <li class="nav-item"><a class="nav-link" (click)="op.toggle($event)" style="color:white;"><img
            [src]="user.urlimagem" alt="..." width="35px" height="35px" class="rounded-circle"> {{user.nome}}</a></li>
      <li class="nav-item "><a class="nav-link" [routerLink]="" style="color:white;" (click)="sair()">Sair</a></li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!logado">
      <li class="nav-item texto"><a style="color:white;padding-right: 10px;padding-left: 10px;" class="nav-link texto"
          [routerLink]="" (click)="op.toggle($event)" style="color:white;">Logar</a></li>
    </ul>


  </div>
</nav>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" [baseZIndex]="3000">
  <div *ngIf="!logado">
    <login></login>
  </div>
    <p-card  styleClass="ui-card-shadow bg-dark" *ngIf="logado">
      <div class="row justify-content-center">
        <h5 style="color:white">Ola {{user.nome}}</h5>
      </div>
      <div class="row  justify-content-center">
          <img [src]="user.urlimagem" lt="..." width="70px" height="70x" class="rounded-circle" />
        </div>
      <div class="row justify-content-center" style="padding-top: 10px;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <div class="btn-group-vertical">
            <button [routerLink]="['/perfil', 0]" routerLinkActive="active" class="btn btn-secondary">
              Configurações
            </button>
            <button [routerLink]="['/perfil', 1]" routerLinkActive="active" class="btn btn-secondary">
              Alugados
            </button>
          </div>
          <div class="btn-group-vertical">
            <button  [routerLink]="['/perfil', 3]" routerLinkActive="active" class="btn btn-secondary">
             Recomendações
            </button>
            <button [routerLink]="['/perfil', 2]" routerLinkActive="active" class="btn btn-secondary">
              Vitrine
            </button>
            </div>
          </div>
        </div>
    </p-card>
</p-overlayPanel>
