<nav class="navbar navbar-expand-lg navbar-dark bg-primary texto">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon imagem"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <a class="navbar-brand" href="#">
      <img src="https://www.maxpixel.net/static/photo/1x/Controller-Gamepad-Icon-Computer-Game-Video-Games-1784573.png"
        width="30" height="30" class="d-inline-block align-top" alt="">
      Locadora Pessoal
    </a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="admin"><a class="nav-link" [routerLink]="['/administrativo']"
          style="color:white;">Administrativo</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/catalogo']" style="color:white;">Catalogo</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/alugar']" style="color:white;">Alugar</a></li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="logado">
      <li class="nav-item"><a class="nav-link" (click)="op.toggle($event)" style="color:white;"><img
            [src]="user.urlimagem" alt="..." width="35px" height="35px" class="rounded-circle"> {{user.nome}}</a></li>
      <li class="nav-item "><a class="nav-link" [routerLink]="" style="color:white;" (click)="sair()">Sair</a></li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!logado">
      <li class="nav-item texto"><a style="color:white;padding-right: 10px;padding-left: 10px;" class="nav-link texto"
          [routerLink]="" (click)="op.toggle($event)" style="color:white;">Logar</a></li>
    </ul>


  </div>
</nav>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" [baseZIndex]="3000">
  <div *ngIf="!logado">
    <login></login>
  </div>
  <div class="container" *ngIf="logado">
    <p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
      <p-header>
        <img [src]="user.urlimagem" lt="..." width="35px" height="35px" class="rounded-circle" />
      </p-header>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
      </div>
      <p-footer>
        <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
      </p-footer>
    </p-card>


  </div>
</p-overlayPanel>