 <!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Catálogo de Jogos</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cátalogo de Jogos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->
<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="sidebar-categories">
          <div class="head">Plataforma</div>
          <ul class="main-categories">
            <li class="common-filter">
              <ul *ngFor="let plataforma of plataformas; let i= index">
                <li class="filter-list"><input class="pixel-checkbox" type="checkbox" [(ngModel)]="camposPlata[i]" (change)="getPlataforma(plataforma.nome)">{{plataforma.nome}}</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="sidebar-filter">
          <div class="top-filter-head">Filtro de Jogos</div>
          <div class="common-filter">
            <div class="head">Genero</div>
            <ul *ngFor="let genero of generos; let i= index">
              <li class="filter-list"><input class="pixel-checkbox" type="checkbox" [(ngModel)]="camposGen[i]" (change)="getGenero(genero.nome)">{{genero.nome}}</li>
            </ul>
          </div>
        </div>
        <div class="sidebar-categories">
          <div class="head">Estado</div>
          <ul class="main-categories">
            <li class="common-filter">
              <ul *ngFor="let estado of estados; let i= index">
                <li class="filter-list"><input class="pixel-checkbox" type="checkbox" [(ngModel)]="camposPlata[i]" (change)="getEstado(estado.nome)">{{estado.nome}}</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="sidebar-categories">
          <div class="head">Municipio</div>
          <ul class="main-categories">
            <li class="common-filter">
              <ul *ngFor="let municipio of municipios; let i= index">
                <li class="filter-list"><input class="pixel-checkbox" type="checkbox" [(ngModel)]="camposPlata[i]" (change)="getMunicipio(municipio.nome)">{{municipio.nome}}</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="sidebar-categories">
          <div class="head">Bairro</div>
          <ul class="main-categories">
            <li class="common-filter">
              <ul *ngFor="let bairro of bairros; let i= index">
                <li class="filter-list"><input class="pixel-checkbox" type="checkbox" [(ngModel)]="camposPlata[i]" (change)="getBairro(bairro.nome)">{{bairro.nome}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7">
        <!-- Start Filter Bar -->
        <div class="filter-bar d-flex flex-wrap align-items-center">

          <div class="sorting">
            <select (change)="ordenaJogos($event.target.value)">
              <option value="0">Ordenação Padrão</option>
              <option value="1">Ordem Alfabetica</option>
              <option value="2">Mais Recente</option>
              <!--<option value="1">Ordenação Lançamento</option>-->
            </select>
          </div>
          <div class="sorting mr-auto">
            <select>
              <option value="10">Exibir 10</option>
              <option value="20">Exibir 20</option>
              <option value="30">Exibir 30</option>
            </select>
          </div>
          <div class="sorting mr-auto">
            <button class="btn btn-danger" (click)="limpar()">Limpar Filtros <i class="fas fa-trash-alt"></i></button>
          </div>
          <div>
            <div class="input-group filter-bar-search">
              <input type="text" placeholder="Pesquisar" (keyup.enter)="pegaJogos(filtros)" [(ngModel)]="filtros.jogo">
              <div class="input-group-append">
                <button type="button" (click)="pegaJogos(filtros)"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>

        </div>
        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
        <p-progressSpinner *ngIf="!sucRequi" class="d-flex justify-content-center" [style]="{width: '250px', height: '250px'}"></p-progressSpinner>
        <div *ngIf="sucRequi">
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              <ng-container *ngFor="let jogo of jogos">
                <div class="col-md-6 col-lg-4">
                  <div class="card text-center card-product">
                    <div class="card-product__img">
                      <img class="card-img" src="{{jogo.urlimagem}}" alt="" height="293" width="255">
                      <ul class="card-product__imgOverlay">
                        <li><button data-toggle="modal" data-target="#myModal" (click)="selecionaJogo(jogo)"><i class="fas fa-info-circle"></i></button></li>
                        <li class="view overlay zoom"><button (click)="cadPessoaJogo=true;selecionaJogo(jogo)"><i class="fas fa-store"></i></button></li>
                        <li><button><i class="fas fa-cart-plus"></i></button></li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <!--<p>Accessories</p>-->
                      <h4 class="card-product__title"><a href="#">{{jogo.nome}}</a></h4>
                      <!--<p class="card-product__price">$150.00</p>-->
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </div>
</section>






<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="product_image_area">
          <div class="container">
            <div class="row s_product_inner">
              <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                  <div class="single-prd-item">
                    <img class="img-fluid" src="{{modalJogo?.urlimagem}}" height="500" width="455" alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                  <h2 style="text-align: center;">{{modalJogo?.nome}}</h2>
                  <ul class="list">
                    <li *ngIf="modalJogo?.multiplayer"><span>Número de Jogadores</span> : <i class="fas fa-gamepad"></i><i class="fas fa-gamepad"></i> Multiplayer</li>
                    <li *ngIf="!modalJogo?.multiplayer"><span>Número de Jogadores</span> : <i class="fas fa-gamepad"></i>Singleplayer</li>
                    <li><span>Produtora</span> : {{modalJogo?.produtora}}</li>
                    <li><span>Classificação</span> : {{modalJogo?.classificacao}}</li>
                    <li><span>Plataformas</span> : <ng-container *ngFor="let plataforma of modalJogo?.plataforma">{{plataforma.nome}} </ng-container></li>
                    <li><span>Generos</span> : <ng-container *ngFor="let genero of modalJogo?.genero">{{genero.nome}} </ng-container></li>
                    <li><span>Data de Lançamento</span> : {{modalJogo?.anolancamento | date}}</li>

                  </ul>
                  <p>
                    {{modalJogo?.descricao}}
                  </p>
                  <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist" *ngIf="cookieExists">
                    <li class="nav-item">
                      <div class="product_count" (click)="cadPessoaJogo=true">
                        <button class="reduced items-count" type="button">
                          <i class="ti-angle-right"></i>
                        </button>
                        <a class="button primary-btn" [routerLink]=""><i class="fas fa-store"></i> Cadastrar</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <div class="product_count">
                        <button class="reduced items-count" type="button">
                          <i class="ti-angle-right"></i>
                        </button>
                        <a class="button primary-btn" [routerLink]=""><i class="fas fa-cart-plus"></i> Alugar</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>

<p-dialog [(visible)]="cadPessoaJogo" [baseZIndex]='1150'  *ngIf="cookieExists">
    <p-header>
      <i class="fas fa-money-bill-wave"></i> Qual valor será cobrado por dia?
    </p-header>
    <div>
      <img class="img-fluid" src="{{modalJogo?.urlimagem}}" height="100" width="90" alt="">
      <span style="text-align: center;font-family: Roboto,sans-serif;font-size: 24px;font-weight: 700;color: #384aeb;margin-bottom: 10px;">
        {{modalJogo?.nome}}
      </span>
    </div>
    <div class="input-group-prepend" style="padding-bottom: 10px;padding-top: 10px;">
      <span class="input-group-text">Valor R$:</span>
      <input [(ngModel)]="preco" type="number" pKeyFilter="pnum" class="form-control">
    </div>

    <p-footer>
      <div class="d-flex justify-content-center">
        <a class="button primary-btn" [routerLink]="" (click)="criaPessoaJogo()"><i class="fas fa-save"></i> Salvar</a>
        <a class="button danger-btn" [routerLink]="" (click)="cadPessoaJogo=false;preco=null"><i class="fas fa-window-close"></i> Cancelar</a>
      </div>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="cadPessoaJogo" [baseZIndex]='1150' *ngIf="!cookieExists">
    <p-header>
      Faça o Login
    </p-header>
    <login></login>
</p-dialog>
