<div class="container" style="background-color:#f1f1f1">
  <form [formGroup]="pessoaForm">
    <div class=" form-group">
      <label class="control-label">Nome de Usuário</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="nomeusuario">
      </div>
    </div>

    <div class=" form-group">
      <label class="control-label">Senha</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" pPassword class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1" formControlName="senha">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Nome Completo</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-tie"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Nome Completo" aria-label="nome" aria-describedby="basic-addon1" formControlName="nome">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Email</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
        </div>
        <input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1" formControlName="email">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">CPF</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-badge"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="CPF" aria-label="cpf" aria-describedby="basic-addon1" formControlName="cpf">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="control-label">Data de Nascimento</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-alt"></i></span>
          </div>
          <p-calendar formControlName="datanascimento" dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>


      <div class="col">
        <label class="control-label">Sexo</label>
        <div class="input-group mb-3">
          <p-selectButton [options]="[
                              {name:'Masculino', icon: 'fas fa-mars', value: 0},
                              {name:'Feminino', icon: 'fas fa-venus', value: 1}
                              ]" formControlName="sexo" optionLabel="name">
            <ng-template let-item>
              <button class="btn btn-outline-dark">
                <span style="font-size: 1rem;">
                  <i class="{{item.value.icon}}"></i>
                </span>

                <span> {{item.value.name}}</span>
              </button>
            </ng-template>
          </p-selectButton>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="control-label">CEP</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marked-alt"></i></span>
            </div>
            <input type="text" class="form-control" (focusout)="pegaCep()" placeholder="CEP" aria-label="CEP" aria-describedby="basic-addon1" formControlName="cep">
          </div>
        </div>
      </div>


      <div class="col">
        <label class="control-label">Estado</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fab fa-usps"></i></span>
          </div>
          <p-autoComplete [readonly]="true" formControlName="estado" [suggestions]="results" (completeMethod)="search($event)"
                          [dropdown]="true"></p-autoComplete>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="control-label">Cidade</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-city"></i></span>
          </div>
          <p-autoComplete [readonly]="true" formControlName="municipio" [suggestions]="results" (completeMethod)="search($event)"
                          [dropdown]="true"></p-autoComplete>
        </div>
      </div>



      <div class="col">
        <label class="control-label">Bairro</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-home"></i></span>
          </div>
          <p-autoComplete formControlName="bairro" [suggestions]="results" (completeMethod)="search($event)"
                          [dropdown]="true"></p-autoComplete>
        </div>
      </div>
    </div>
    <button (click)="envia()" type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!pessoaForm.valid">Cadastrar</button>
    <button [routerLink]="['/']" type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button>
  </form>
</div>
