.facebook {
  background-color: #2e4a88;
  text-shadow: 0 -1px -1px #1B3D82;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 80px;
}

  .facebook:hover {
    background-color: #354F84;
  }

  .facebook:active {
    top: 2px;
    box-shadow: 0 2px 0 #1B3D82;
  }
