<p-toast position="bottom-right"></p-toast>
<main role="main">

  <section *ngIf="menuSelec==0" class="panel important">

    <h2>Write Some News</h2>
    <ul>
      <li>Information Panel</li>
    </ul>
  </section>

  <section *ngIf="menuSelec==2" class="panel important">
    <h2>Write a post</h2>
    <form>
      <div class="twothirds">
        Blog title:<br />
        <input type="text" name="title" size="40" /><br /><br />
        Content:<br />
        <textarea name="newstext" rows="15" cols="67"></textarea><br />
      </div>
      <div>
        <input type="submit" name="submit" value="Save" />
      </div>
    </form>
  </section>

</main>
<!-- Ensure window size is always 100vh -->
<div class="container-fluid dashboard-wrapper" [class.active]="active">
  <!-- side bar wrapper  -->
  <div id="sidebar-wrapper">
    <a id="toggle-menu" [routerLink]="" (click)="active=!active">
      MENU<span class="fa fa-bars toggle-icon"></span>
    </a>

    <!--   side-menu   -->
    <ul id="side-menu">
      <li>
        <a [routerLink]="" (click)="menuSelect=0">
          Dashboard
          <span class="sub-icon"><i class="fas fa-tachometer-alt"></i></span>
        </a>
      <li>
        <a [routerLink]="" (click)="menuSelect=1">
          Jogos
          <span class="sub-icon"><i class="fas fa-gamepad"></i></span>
        </a>
      </li>
      <li>
        <a [routerLink]="" (click)="menuSelect=2">
          Usuários
          <span class="sub-icon"><i class="fa fa-user-cog"></i></span>
        </a>
      </li>
      <li>
        <a [routerLink]="" (click)="menuSelect=3">
          Plataformas
          <span class="sub-icon"><i class="fa fab fa-playstation"></i></span>
        </a>
      </li>
      <li>
        <a [routerLink]="" (click)="menuSelect=4">
          Generos
          <span class="sub-icon"><i class="fa fa-th"></i></span>
        </a>
      </li>
    </ul>
    <!-- /. side-menu  -->

  </div>
  <!--/. side-bar-wrapper    -->
  <!-- Page-content-wrapper   -->
  <div class="page-content-wrapper">
    <div class="container-fluid main-content">
      <relatorios *ngIf="menuSelect==0"></relatorios>
      <gerenciarJogos *ngIf="menuSelect==1"></gerenciarJogos>
      <gerenciarPessoas *ngIf="menuSelect==2"></gerenciarPessoas>
      <gerenciarPlataformas *ngIf="menuSelect==3"></gerenciarPlataformas>
      <gerenciarGeneros *ngIf="menuSelect==4"></gerenciarGeneros>
    </div>
    <!-- top fixed navigation -->

  </div>
</div>
<!-- End dashboard-wrapper -->
