.dashboard-wrapper {
  max-height: 100vh;
  padding: 0;
  transition: all .4s ease 0s;
}

#sidebar-wrapper {
  width: 190px;
  background: #181D21;
  position: fixed;
  height: 100%;
  z-index: 10000;
  left: -110px;
  transition: all .4s ease 0s;
}

#side-menu {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  background-color: #181D21;
}

  #side-menu li {
    list-style-type: none;
    display: block;
    height: 80px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    line-height: 80px;
    padding: 0px 20px;
    transition: all 0.9s ease;
  }

    #side-menu li:hover {
      background-color: #E63054;
    }

    #side-menu li a {
      text-decoration: none;
      color: #FFF;
      display: block;
      width: 145px;
    }

.sub-icon {
  width: 45px;
  text-align: center;
  color: #fff;
  float: right;
  font-size: 25px;
}

#toggle-menu {
  display: block;
  color: #FFF;
  font-size: 16px;
  margin-top: 20px;
  padding: 0px 20px 20px 10px;
}

.toggle-icon {
  color: #FFF;
  float: right;
  width: 50px;
  font-size: 35px;
  padding: 0px 15px;
}

.active {
  margin-left: 110px;
}

.dashboard-wrapper.active #sidebar-wrapper {
  margin-left: 110px;
}

.page-content-wrapper {
  height: 100%;
  margin-left: 55px;
}

.main-content {
  padding-top: 30px;
  min-height: calc(100vh - 50px);
  padding-left: 50px;
}

/* customise navbar */

.navbar-custom {
  margin-left: 80px;
  background-color: #E63054;
  color: #FFF;
  height: 65px;
}

  .navbar-custom .nav-item .nav-link {
    color: #FFF;
  }


.brand {
  font-family: 'Oleo Script', cursive;
  color: #FFF;
  font-size: 35px;
  float: right;
  padding: 0 20px;
}

.searchbox {
  padding: 20px;
}


.card-wrapper {
  padding: 40px 30px;
}

.dashboard-card {
  height: 150px;
  background-color: #d3d3d3;
}

  .dashboard-card h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px;
  }

  .dashboard-card .card-block {
    text-align: center;
    font-size: 28px;
  }

.sales-card i {
  color: tomato;
}

.query-card i {
  color: purple;
}

.order-card i {
  color: green;
}

.payment-card i {
  color: steelblue;
}

.card-message {
  min-height: 150px;
  overflow: hidden;
  background-color: #181D21;
  ;
}

  .card-message .card-title {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-decoration: underline;
  }

.footer {
  color: #333;
  text-align: center;
}
