
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" height="280" src="https://gameflip.com/img/banners/carousel_promo_ctr_nitro.jpg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" height="280" src="https://scontent.fvix1-1.fna.fbcdn.net/v/t1.0-9/10470593_751656411617926_3415239567915152463_n.png?_nc_cat=103&_nc_oc=AQm8aIjMivxnRJSAmwUMxYvDI3WSwepsyLWhc6nV8kzEny1h1HGynJUWlFVEBqpyRRA&_nc_ht=scontent.fvix1-1.fna&oh=9c7e5a20b4099fd89090212ca785ab28&oe=5DC06961" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" height="280" src="https://bnetproduct-a.akamaihd.net//f9f/42dbad1c7c7b3fe66c8dc8723429beab-1900x300.jpg" alt="Terceiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" height="280" src="https://bnetproduct-a.akamaihd.net//10/d19e0130dd21bb217cb3c6abbea7a7bf-1900x300.jpg" alt="Quarto Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
  <div class="container" style="
    padding-top: 20px;">
    <div class="row">
      <div class="col zoomin frame ">
        <a [routerLink]="['/catalogo']">
          <span class="texto neon blue">Anunciar um Jogo para ser Alugado</span>
          <img class="rounded" src="assets/img/publish.jpg" />
        </a>
      </div>
      <div class="col zoomin frame">
        <a routerLink="">
          <img class="rounded" src="assets/img/search.jpg" />
          <span class="texto neon blue">Procurar um Jogo para Alugar</span>
        </a>
      </div>
    </div>
  </div>
