.zoomin img {
  height: 350px;
  width: 350px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
img {
  border-radius: 20px;
}

  .zoomin:hover img {
    width: 550px;
    height: 550px;
    z-index: 1000;

  }

    .zoomin :hover .texto {
      font-size: 40px;
    }


.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.neon {
  font-family: neon;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}


.blue {
  text-shadow: 0 0 5px #7bacff, 0 0 10px #7bacff, 0 0 15px #7bacff, 0 0 25px #7bacff, 0 0 35px #7bacff, 0 0 45px #7bacff, 0 0 55px #7bacff, 0 0 65px #7bacff;
  animation: green_lights 1s infinite;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
